.admin-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-dashboard table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.admin-dashboard table thead tr th {
    border: 1px solid ;
    padding: 10px;
}

.admin-dashboard table tbody tr td {
    border: 1px solid ;
    padding: 10px;
}